NICKNAME_LIST = ['FedEx']
DEBUG_MODE = True
FEEDEX_ROOT = os.path.dirname(os.path.absname(__file__))

SERVER_LIST = [
    ('irc.hanirc.org', 6665),
]
USE_SSL = False
BUFFER_PERIOD = 1

FETCH_PERIOD = 1
FREQUENT_FETCH_PERIOD = 1

FUTURE_THRESHOLD = 86400

